body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-color:rgb(193, 172, 211);
    color:black;
    margin: 0;
    padding: 0;
}

#start{
    padding: 10;
    border-radius: 10px;
    background-color: rgb(143, 194, 132);
}
#stop{
    padding: 10;
    border-radius: 10px;
    background-color: rgb(143, 194, 132);
}